@{ ViewData["Title"] = "ErrorUser";
    Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
    <meta name="author" content="Bootlab">

    <title>IOTool</title>

    <link href="~/css/dark.css" rel="stylesheet" />

</head>
<body class="theme-blue">
    <main class="main h-100 w-100">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-sm-12 col-md-8 col-lg-6 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">
                        <div class="text-center">
                            <h1 class="display-1 font-weight-bold">User not registered</h1>
                            <p class="h1">Your user is not registered in IOTool.</p>
                            <p class="h2 font-weight-normal mt-3 mb-4">Please contact the owner of application.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>